In [23]:
import tensorflow.keras.layers as lyrs
import tensorflow.keras.models as mod
import sklearn.preprocessing as prepro
#import tensorflow.keras.optimizers as opti
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

from scipy.io import arff
import pandas as pd
%matplotlib inline

In [24]:
data1 = arff.loadarff('1year.arff')
df1 = pd.DataFrame(data1[0])

data2 = arff.loadarff('2year.arff')
df2 = pd.DataFrame(data2[0])

data3 = arff.loadarff('3year.arff')
df3 = pd.DataFrame(data3[0])

data4 = arff.loadarff('4year.arff')
df4 = pd.DataFrame(data4[0])

data5 = arff.loadarff('5year.arff')
df5 = pd.DataFrame(data5[0])

frames = [df1, df2, df3, df4, df5]
df = pd.concat(frames)

In [25]:
del data1
del df1
del data2
del df2
del data3
del df3
del data4
del df4
del data5
del df5

In [26]:
print(df.shape)
df = df.dropna()
df.shape

(35135, 65)

(15970, 65)

In [43]:
df['class'] = df['class'].astype(int)

In [44]:
df.head()

,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,Attr10,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,class
0,0.200550,0.37951,0.396410,2.0472,32.351,0.388250,0.249760,1.33050,1.1389,0.50494,...,0.121960,0.397180,0.87804,0.001924,8.4160,5.1372,82.658,4.4158,7.42770,0
8,0.009020,0.63202,0.053735,1.1263,-37.842,0.000000,0.014434,0.58223,1.3332,0.36798,...,0.180110,0.024512,0.84165,0.340940,9.9665,4.2382,116.500,3.1330,2.56030,0
12,0.266690,0.34994,0.611470,3.0243,43.087,0.559830,0.332070,1.85770,1.1268,0.65006,...,0.112500,0.410250,0.88750,0.073630,9.5593,5.6298,38.168,9.5629,33.41300,0
13,0.067731,0.19885,0.081562,2.9576,90.606,0.212650,0.078063,4.02900,1.2570,0.80115,...,0.204440,0.084542,0.79556,0.196190,8.2122,2.7917,60.218,6.0613,0.28803,0
14,-0.029182,0.21131,0.452640,7.5746,57.844,0.010387,-0.034653,3.73240,1.0241,0.78869,...,0.023565,-0.037001,0.97644,0.180630,3.4646,11.3380,31.807,11.4750,1.65110,0

In [45]:
train, test = train_test_split(df, test_size=0.2)

train_target = train.loc[:, df.columns == 'class']
test_target = test.loc[:, df.columns == 'class']
train = train.loc[:, df.columns != 'class']
test = test.loc[:, df.columns != 'class']

In [46]:
print(train.shape)
pd.options.display.max_rows = 20

(12776, 64)

In [50]:
model = mod.Sequential()

model.add(lyrs.Dense(500, input_shape = (64,)))
model.add(lyrs.Activation('relu'))
model.add(lyrs.Dropout(0.25))

model.add(lyrs.Dense(250))
model.add(lyrs.Activation('relu'))

model.add(lyrs.Dense(1))
model.add(lyrs.Activation('sigmoid'))
model.compile(optimizer="adam", loss='binary_crossentropy', metrics=['accuracy'])

history_min = model.fit(train, 
          train_target, 
          epochs=10,
          batch_size = 10, 
          verbose=1, 
          validation_data=(test, test_target))
score = model.evaluate(train, train_target, batch_size=10)
print(score)

Epoch 1/10
1278/1278 [==============================] - 2s 1ms/step - loss: 20.5320 - accuracy: 0.9775 - val_loss: 19.3687 - val_accuracy: 0.9909
Epoch 2/10
1278/1278 [==============================] - 2s 1ms/step - loss: 4.2472 - accuracy: 0.9809 - val_loss: 2.5045 - val_accuracy: 0.9909
Epoch 3/10
1278/1278 [==============================] - 1s 1ms/step - loss: 0.8333 - accuracy: 0.9812 - val_loss: 0.8164 - val_accuracy: 0.9909
Epoch 4/10
1278/1278 [==============================] - 2s 1ms/step - loss: 2.4920 - accuracy: 0.9850 - val_loss: 0.8323 - val_accuracy: 0.9903
Epoch 5/10
1278/1278 [==============================] - 2s 1ms/step - loss: 1.0419 - accuracy: 0.9869 - val_loss: 0.9158 - val_accuracy: 0.9912
Epoch 6/10
1278/1278 [==============================] - 1s 1ms/step - loss: 0.8726 - accuracy: 0.9883 - val_loss: 0.5735 - val_accuracy: 0.9909
Epoch 7/10
1278/1278 [==============================] - 2s 1ms/step - loss: 0.7053 - accuracy: 0.9898 - val_loss: 0.1852 - val_accuracy: 0.9909
Epoch 8/10
1278/1278 [==============================] - 2s 1ms/step - loss: 0.6722 - accuracy: 0.9891 - val_loss: 0.3482 - val_accuracy: 0.9909
Epoch 9/10
1278/1278 [==============================] - 1s 1ms/step - loss: 0.6233 - accuracy: 0.9895 - val_loss: 0.2667 - val_accuracy: 0.9912
Epoch 10/10
1278/1278 [==============================] - 2s 1ms/step - loss: 0.3032 - accuracy: 0.9901 - val_loss: 0.0677 - val_accuracy: 0.9903
1278/1278 [==============================] - 1s 529us/step - loss: 0.0843 - accuracy: 0.9891
[0.08428221940994263, 0.9891202449798584]